.news-intro-col {
  display: inline-flex;
  color: black;
  height: 100%;
}
.new-intro-panel {
  text-align: left;
}

.news-intro-panel {
  margin: auto 5px;
  text-align: left;
}

.news-description {
  text-align: left;
}

.news-description p {
  font-size: 18px;
}

.news-chip {
  font-size: 18px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
  padding-left: 20px;
  padding-right: 25px;
  flex-shrink: 0;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}
